body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

.wrapper {
  max-width: 800px;
  margin: 12rem auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  margin: 10px 0;
  color: #27ae60; 
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-container,
.search-container {
  width: 48%;
}

.form-container h2,
.search-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2ecc71; 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #27ae60; 
  border-radius: 4px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 10px;
}

.form-check {
  margin-bottom: 15px;
}

.form-check label {
  font-size: 1rem;
  color: #27ae60; 
}

.submit-btn,
.search-btn,
.reset-btn {
  background-color: #2ecc71; 
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover,
.search-btn:hover,
.reset-btn:hover {
  background-color: #27ae60; 
}

.form-search-bottom {
  display: flex;
  gap: 10px;
}

.search-results {
  margin-top: 20px;
}

.search-result {
  background-color: #d4efdf; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}


.bottom {
  display: flex;
  justify-content: space-between;
}

.left-container,
.right-container {
  width: 48%;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2ecc71; 
}

.item {
  background-color: #d4efdf; 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.item-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #333;
}

.item-writer {
  font-size: 1rem;
  color: #555;
}

.item-action button {
  margin-right: 5px;
  background-color: #e74c3c; 
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.item-action button:hover {
  background-color: #c0392b; 
}

.hidden {
  display: none;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 5px; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
  margin-top: 5px; 
  margin-bottom: 15px;
}

.toggle-read-btn {
  background-color: #2ecc71; 
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #c0392b; 
}

.toggle-read-btn:hover {
  background-color: #27ae60; 
}

.toggle-read-btn i,
.delete-btn i {
  font-size: 1.5rem; 
  margin-right: 5px; 
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2ecc71; 
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}


